<!DOCTYPE html>
<html lang="ko">
<title>wise U</title>

<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="tree_fontello/css/fontello.css">

    <script>
        $(function () {
            $("#subNav").load("../subNav.html");
            $("#js").load("../js.html");
            $("#headerTop").load("../headerTop.html");
        });
    </script>
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        <!-- 메뉴 -->
        <div id="subNav"></div>
        <div id="js"></div>
        <div id="headerTop"></div>
        <!-- //메뉴-->

        <!-- Contents area -->
        <div class="main-panel">
            <!-- Page content -->
            <div class="container-fluid mt-4 mb-2">

                <!-- card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <div class="row">
                            <!-- title  -->
                            <div class="col-8">
                                <h3 class="mb-0">알림톡 템플릿 수정 </h3>
                            </div>
                            <!-- //title -->
                        </div>
                    </div>
                    <!-- e.Card header -->
                    <!-- form -->
                    <form>
                        <!-- card body -->
                        <div class="card-body">
                            <!-- Light table -->
                            <div class="table-responsive newgridWrap">
                                <table class="table table-sm dataTable">
                                    <colgroup>
                                        <col style="width:8%;" />
                                        <col style="width:8%;" />
                                        <col style="width:2%;" />
                                        <col style="width:*%;" />
                                        <col style="width:10%;" />
                                        <col style="width:24%;" />
                                        <col style="width:8%;" />
                                        <col style="width:21%;" />
                                        <col style="width:4%;" />

                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th><em class="required">required</em>플러스친구 ID</th>
                                            <td colspan="3">@엠앤와이즈</td>
                                            <th><em class="required">required</em>작성자</th>
                                            <td>테스터</td>
                                            <th><em class="required">required</em>템플릿 코드</th>
                                            <td colspan="2">test_20200831</td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>템플릿명</th>
                                            <td colspan="3">test</td>
                                            <th>카테고리</th>
                                            <td><select class="form-control form-control-sm ">
                                                    <option value="">선택</option>
                                                </select></td>
                                            <th>템플릿 설명</th>
                                            <td colspan="2"> </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>공유 유형</th>
                                            <td colspan="3">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline1"
                                                        name="customRadioInline1" class="custom-control-input" required/>
                                                    <label class="custom-control-label" for="customRadioInline1">사용자

                                                    </label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline2"
                                                        name="customRadioInline1" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="customRadioInline2">부서</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline3"
                                                        name="customRadioInline1" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="customRadioInline3">전체</label>
                                                </div>
                                            </td>
                                            <th>PC 카카오톡 노출 여부</th>
                                            <td>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline4"
                                                        name="customRadioInline11" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="customRadioInline4">노출(모바일,PC 노출)

                                                    </label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline5"
                                                        name="customRadioInline11" class="custom-control-input" />
                                                    <label class="custom-control-label" for="customRadioInline5">미노출(모바일
                                                        노출)</label>
                                                </div>
                                            </td>
                                            <th><em class="required">required</em>사용 여부</th>
                                            <td>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline6"
                                                        name="customRadioInline111" class="custom-control-input" required/>
                                                    <label class="custom-control-label"
                                                        for="customRadioInline6">사용

                                                    </label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline7"
                                                        name="customRadioInline111" class="custom-control-input" />
                                                    <label class="custom-control-label" for="customRadioInline7">미사용</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>작성 일자</th>
                                            <td colspan="3">2020-07-20 03:02:30</td>
                                            <th><em class="required">required</em>검수 상태</th>
                                            <td>승인</td>
                                            <th><em class="required">required</em>템플릿 상태</th>
                                            <td>정상</td>
                                           
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>메시지 내용</th>
                                            <td colspan="3" class="border-right-0"> <textarea
                                                    class="form-control textarea" id="" rows="6"
                                                    style="background: #f7fafc;" required></textarea>
                                                <div class="textarea-font-style"><span class="count-text">0</span> bytes
                                                </div>
                                            </td>
                                            <td colspan="5">

                                            </td>
                                        </tr>
                                        <tr>
                                            <th>버튼</th>
                                            <td colspan="3" class="border-right-0">
                                                <select class="form-control form-control-sm d-inline-block w-auto">
                                                    <option value="">웹 링크</option>
                                                    <option value="">앱 링크</option>
                                                    <option value="">배송조회</option>
                                                    <option value="">봇키워드</option>
                                                    <option value="">메시지 전달</option>
                                                </select>
                                                <button type="button"
                                                    class="btn btn-sm btn-outline-primary ml-2">추가</button>

                                            </td>
                                            <td colspan="5"></td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>웹 링크</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td><input type="text" class="form-control form-control-sm"
                                                    placeholder="" required/></td>
                                            <th><em class="required">required</em>모바일 웹링크</th>
                                            <td><input type="text" class="form-control form-control-sm"
                                                    placeholder="" required/></td>
                                            <th>PC 웹링크</th>
                                            <td class="border-right-0"><input type="text"
                                                    class="form-control form-control-sm" placeholder="" /></td>
                                            <td><button type="button" class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>앱 링크</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td><input type="text" class="form-control form-control-sm"
                                                    placeholder="" required/></td>
                                            <th><em class="required">required</em>모바일 웹링크</th>
                                            <td><input type="text" class="form-control form-control-sm"
                                                    placeholder="" required/></td>
                                            <th>PC 웹링크</th>
                                            <td class="border-right-0"><input type="text"
                                                    class="form-control form-control-sm" placeholder="" /></td>
                                            <td><button type="button" class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>배송조회</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td class="border-right-0"><input type="text"
                                                    class="form-control form-control-sm" placeholder="" required/></td>
                                            <td colspan="5"><button type="button"
                                                    class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>

                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>봇키워드</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td class="border-right-0"><input type="text"
                                                    class="form-control form-control-sm" placeholder="" required/></td>
                                            <td colspan="5"><button type="button"
                                                    class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>메시지 전달</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td class="border-right-0"><input type="text"
                                                    class="form-control form-control-sm" placeholder="" required/></td>
                                            <td colspan="5"><button type="button"
                                                    class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- //Light table -->
                            <!-- Light table -->
                            <div class="table-responsive">
                                <table class="table table-sm dataTable">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">작성자</th>
                                            <th scope="col">등록 시간</th>
                                            <th scope="col">상태</th>
                                            <th scope="col">결과 및 요청사항</th>
                                            <th scope="col">첨부파일</th>
                                        </tr>
                                    </thead>
                                    <colgroup>
                                        <col style="width:10%;" />
                                        <col style="width:15%;" />
                                        <col style="width:8%;" />
                                        <col style="width:*%;" />
                                        <col style="width:10%;" />


                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>검수자</td>
                                            <td>2020-08-31 17:01:02</td>
                                            <td>승인</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" rowspan="2"></td>
                                            <td rowspan="2">문의</td>
                                            <td class="border-right-0">
                                                <textarea class="form-control textarea" id="" rows="3"
                                                    style="background: #f7fafc;"></textarea>


                                            </td>
                                            <td class="text-left"><button type="button"
                                                    class="btn btn-sm btn-outline-primary">등록</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="border-top-0 text-left">
                                                <div class="custom-file col-4">
                                                    <input type="file" class="custom-file-input" id="customFileLang"
                                                        lang="ko">
                                                    <label class="custom-file-label" for="customFileLang"></label>
                                                </div>
                                                <ul class="notice-text text-left  mb-0">
                                                    <li><em class="li-circle">li-circle</em>파일은 최대 5개까지 첨부 가능합니다. (파일당
                                                        최대 사이즈: 50MB) 버튼을 눌러 추가하세요.
                                                    </li>
                                                    <li><em class="li-circle">li-circle</em>png, jpg, jpeg, gif, pdf,
                                                        hwp, doc, docx 파일만 첨부할 수 있습니다.
                                                    </li>

                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                 </table>
                            </div>
                            <!-- //card body -->

                            <!-- button area -->
                            <div class="card-footer pb-4 btn_area">
                                <div class="row">
                                    <div class="col col-6">
                                        <button type="submit" class="btn btn-outline-primary btn-icon">
                                            <span class="btn-inner--icon"><i class="fas fa-save"></i></span><span
                                                class="btn-inner--text">저장</span>
                                        </button>
                                        <button type="button" class="btn btn-outline-primary btn-icon">
                                            <span class="btn-inner--icon"><i class="fas fa-trash"></i></span><span class="btn-inner--text">삭제</span>
                                        </button>
                                    </div>
                                    <div class="col col-6">
                                        <button type="button" class="btn btn btn-outline-info btn-icon">
                                            템플릿 검수 요청
                                        </button>
                                        <button type="button" class="btn btn btn-outline-info btn-icon">
                                            템플릿 검수 요청 취소
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- e.button area -->
                    </form>
                    <!-- e.form -->
                </div>
                <!-- e.card -->
            </div> <!-- e.page content -->
        </div>
        <!-- e.Contents area -->
    </div>
    <!-- e.wrapper -->

</html>