<!DOCTYPE html>
<html lang="ko">
<title>wise U</title>

<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="tree_fontello/css/fontello.css">

    <script>
    $(function () {
        $("#subNav").load("../subNav.html");
        $("#js").load("../js.html");
        $("#headerTop").load("../headerTop.html");
    });
    </script>
</head>

<body>
<!-- wrapper -->
<div class="wrapper">
    <!-- 메뉴 -->
    <div id="subNav"></div>
    <div id="js"></div>
    <div id="headerTop"></div>
    <!-- //메뉴-->

    <!-- Contents area -->
    <div class="main-panel">
        <!-- Page content -->
        <div class="container-fluid mt-4 mb-2">

            <!-- card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <div class="row">
                        <!-- title  -->
                        <div class="col-8">
                            <h3 class="mb-0">알림톡 템플릿 등록 </h3>
                        </div>
                        <!-- //title -->
                    </div>
                </div>
                <!-- e.Card header -->
                <!-- form -->
                <form>
                <!-- grid -->
                <div class="card-body gridWrap">
                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-6">  
                            <div class="form-group">
                                <dl class="row">
                                    <dt class="col-4 col-form-label form-control-label"><em class="required">required</em>등록 방식</dt>
                                    <dd class="col-8">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" />
                                            <label class="custom-control-label" for="customRadioInline1">단건</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" checked/>
                                            <label class="custom-control-label" for="customRadioInline2">파일</label>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- //col -->
                          <!-- col -->
                          <div class="col-6">
                            <div class="row form-group">
                                <label class="col-4 col-form-label form-control-label" for=""><em class="required">required</em>플러스친구 ID</label>
                                <div class="col-8">
                                    <select class="form-control">
                                        <option>@엠앤와이즈</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- //col -->
                        
                     
                    </div>
                    <!-- //row -->
                     <!-- row -->
                     <div class="row">
                        <!-- col -->
                         <!-- col -->
                         <div class="col-6">
                            <div class="row form-group">
                                <label class="col-4 col-form-label form-control-label" for="">카카오 템플릿 코드</label>
                                <div class="col-8">
                                    <input type="text" class="form-control"  placeholder="" />
                                </div>
                            </div>
                        </div>
                        <!-- //col -->
                        <div class="col-6">
                            <div class="row form-group">
                                <label class="col-4 col-form-label form-control-label" for=""><em class="required">required</em>템플릿 명</label></label>
                                <div class="col-8">
                                    <input type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <!-- //col -->
                    </div>
                    <!-- //row -->
                    <!-- row -->
                    <div class="row">
                          <!-- col -->
                          <div class="col-6">
                            <div class="row form-group">
                                <label class="col-4 col-form-label form-control-label" for="">카테고리</label>
                                <div class="col-8">
                                    <select class="form-control">
                                        <option>선택</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- //col -->
                        <!--col-->
                        <div class="col-6">
                            <div class="row form-group">
                                <label class="col-4 col-form-label form-control-label" for=""><em class="required">required</em>템플릿 설명</label>
                                <div class="col-8">
                                    <input type="text" class="form-control" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <!--//col-->
                      
                    </div>
                    <!-- //row -->
                    <!-- row -->
                    <div class="row">
                      <!-- col -->
                      <div class="col-6">
                        <div class="form-group">
                            <dl class="row">
                                <dt class="col-4 col-form-label form-control-label"><em class="required">required</em>공유 유형</dt>
                                <dd class="col-8">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" />
                                        <label class="custom-control-label" for="customRadioInline1">사용자</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" />
                                        <label class="custom-control-label" for="customRadioInline2">부서</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input" />
                                        <label class="custom-control-label" for="customRadioInline3">전체</label>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                     <!-- //col -->   
                     <!-- col -->
                     <div class="col-6">
                       <div class="form-group">
                            <dl class="row">
                                <dt class="col-4 col-form-label form-control-label"><em class="required">required</em>PC 카카오톡 노출 여부</dt>
                                <dd class="col-8">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" />
                                        <label class="custom-control-label" for="customRadioInline1">노출(모바일,PC 노출) </label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" />
                                        <label class="custom-control-label" for="customRadioInline2">미노출(모바일 노출)</label>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                   
                    <!-- //col -->
                </div>
                    <!-- // row-->
                       <!-- row -->
                       <div class="row">
                       
                      <!--col-->
                      <div class="col-6">
                          <div class="row form-group">
                              <label class="col-4 col-form-label form-control-label" for=""><em class="required">required</em>템플릿 내용</label>
                              <div class="col-8">
                                  <textarea class="form-control textarea" id="" rows="6" style="background: #f7fafc;"></textarea>
                                  <div class="textarea-font-style"><span class="count-text">0</span> bytes</div>
                              </div>
                          </div>
                      </div>
                      <ul class= "col-6 notice-text mb-0">
                        <li><em class="required">required</em>템플릿코드와 템플릿명은 내용에 포함되지 않습니다.</li>
                        <li><em class="required">required</em>하나의 발신프로필에 동일한 템플릿코드와 템플릿명을 중복해서 등록할 수 없습니다.</li>
                        <li><em class="required">required</em>템플릿 내용은 한/영 구분없이 1,000자까지 입력가능 합니다.<br>&nbsp;&nbsp;&nbsp;변수에 들어갈 내용의 최대 길이를 감안하여 작성해 주세요.</li>
                        <li><em class="required">required</em>변수를 #{변수} 형태로 넣어주세요. (예: #{홍길동}님의 택배가 금일 (#{09:50})에 배달될 예정입니다.)</li>
                    </ul>
                    
                      <!--//col-->
                      <!-- col -->
                      <div class="col-6">
                          <div class="form-group row">
                                <label class="col-4 col-form-label form-control-label" for=""> <em class="required">required</em>버튼</label> 
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-9">
                                        <select class="form-control">
                                            <option>웹링크</option>
                                            <option>앱링크</option>
                                            <option>배송조회</option>
                                            <option>봇키워드</option>
                                            <option>메시지 전달</option>
                                        </select>
                                    </div>
                                        <div class="col-3"> <button class="btn btn-outline-primary" type="button">추가</button></div>
                                     </div>
                                     
                                </div>
                          </div>
                      </div>
                      <!-- //col -->
                  </div>
                  <!-- //row -->
                   
                </div>
                <!-- //grid -->
                
                <!-- button area -->
                <div class="card-footer pb-4 btn_area">
                    <button type="submit" class="btn btn btn-outline-primary btn-icon">
                        <span class="btn-inner--icon"><i class="fas fa-save"></i></span><span class="btn-inner--text">저장</span>
                    </button>
                  
                </div>
                <!-- e.button area -->
                </form>
                <!-- e.form -->
            
            </div>
            <!-- e.card -->

        </div> <!-- e.page content -->
    </div>
    <!-- e.Contents area -->
</div>
<!-- e.wrapper -->

</html>