<!DOCTYPE html>
<html lang="ko">
<title>wise U</title>

<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="tree_fontello/css/fontello.css">

    <script>
        $(function () {
            $("#subNav").load("../subNav.html");
            $("#js").load("../js.html");
            $("#headerTop").load("../headerTop.html");
        });
    </script>
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        <!-- 메뉴 -->
        <div id="subNav"></div>
        <div id="js"></div>
        <div id="headerTop"></div>
        <!-- //메뉴-->

        <!-- Contents area -->
        <div class="main-panel">
            <!-- Page content -->
            <div class="container-fluid mt-4 mb-2">

                <!-- card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <div class="row">
                            <!-- title  -->
                            <div class="col-8">
                                <h3 class="mb-0">알림톡 템플릿 등록 </h3>
                            </div>
                            <!-- //title -->
                        </div>
                    </div>
                    <!-- e.Card header -->
                    <!-- form -->
                    <form>
                        <!-- card body -->
                        <div class="card-body">
                            <!-- Light table -->
                            <div class="table-responsive newgridWrap">
                                <table class="table table-sm dataTable">
                                    <colgroup>
                                        <col style="width:8%;" />
                                        <col style="width:10%;" />
                                        <col style="width:4%;" />
                                        <col style="width:20%;" />
                                        <col style="width:10%;" />
                                        <col style="width:18%;" />
                                        <col style="width:8%;" />
                                        <col style="width:18%;" />
                                        <col style="width:4%;" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th><em class="required">required</em>등록 방식</th>
                                            <td colspan="3">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline1"
                                                        name="customRadioInline1" class="custom-control-input" 
                                                        required checked/>
                                                    <label class="custom-control-label"
                                                        for="customRadioInline1">단건</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline2"
                                                        name="customRadioInline1" class="custom-control-input" 
                                                         />
                                                    <label class="custom-control-label"
                                                        for="customRadioInline2">파일</label>
                                                </div>
                                            </td>
                                            <th><em class="required">required</em>플러스친구 ID</th>
                                            <td>
                                                <select class="form-control form-control-sm">
                                                    <option required>@엠앤와이즈</option>
                                                </select>
                                            </td>
                                            <th><em class="required">required</em>카카오 템플릿 코드</th>
                                            <td colspan="2"><input type="text" class="form-control form-control-sm"
                                                    placeholder="" required/></td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>템플릿명</th>
                                            <td  colspan="3"><input type="text" class="form-control form-control-sm"
                                                    placeholder="" required/></td>
                                            <th>카테고리</th>
                                            <td> <select class="form-control form-control-sm">
                                                    <option>선택</option>
                                                </select></td>
                                            <th>템플릿 설명</th>
                                            <td  colspan="2"><input type="text" class="form-control form-control-sm"
                                                    placeholder="" /></td>
                                        </tr>
                                        <tr>
                                            <th>공유유형</th>
                                            <td colspan="3">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline3"
                                                        name="customRadioInline11" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="customRadioInline3">사용자</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline4"
                                                        name="customRadioInline11" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="customRadioInline4">부서</label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline5"
                                                        name="customRadioInline11" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="customRadioInline5">전체</label>
                                                </div>
                                            </td>
                                            <th>PC 카카오톡 노출 여부</th>
                                            <td colspan="4">
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline6"
                                                        name="customRadioInline111" class="custom-control-input" />
                                                    <label class="custom-control-label"
                                                        for="customRadioInline6">노출(모바일,PC 노출)

                                                    </label>
                                                </div>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="customRadioInline7"
                                                        name="customRadioInline111" class="custom-control-input" />
                                                    <label class="custom-control-label" for="customRadioInline7">미노출(모바일
                                                        노출)</label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>템플릿 내용</th>
                                            <td colspan="3"  class="border-right-0"> <textarea class="form-control textarea" id=""
                                                    rows="6" style="background: #f7fafc;" required></textarea>
                                                <div class="textarea-font-style"><span class="count-text">0</span> bytes
                                                </div>
                                            </td>
                                            <td colspan="5">
                                                <ul class="notice-text mb-0">
                                                    <li><em class="li-circle">li-circle</em>템플릿코드와 템플릿명은 내용에 포함되지 않습니다.
                                                    </li>
                                                    <li><em class="li-circle">li-circle</em>하나의 발신프로필에 동일한 템플릿코드와 템플릿명을
                                                        중복해서 등록할 수 없습니다.
                                                    </li>
                                                    <li><em class="li-circle">li-circle</em>템플릿 내용은 한/영 구분없이 1,000자까지
                                                        입력가능
                                                        합니다.<br>&nbsp;&nbsp;&nbsp;변수에 들어갈 내용의 최대 길이를 감안하여 작성해 주세요.</li>
                                                    <li><em class="li-circle">li-circle</em>변수를 #{변수} 형태로 넣어주세요. (예:
                                                        #{홍길동}님의 택배가 금일
                                                        (#{09:50})에 배달될 예정입니다.)</li>
                                                </ul>
                                            </td>
                                        </tr>
                                         <!--  등록방식 : 파일 -->
                                         <tr>
                                            <th><em class="required">required</em>카테고리</th>
                                            <td  colspan="3"> <select class="form-control form-control-sm">
                                                <option>선택</option>
                                            </select></td>
                                            <th>파일선택</th>
                                            <td colspan="2"class="border-right-0"> 
                                                <div class="custom-file custom-file-sm">
                                                <input type="file" class="custom-file-input custom-file-input-sm" id="customFileLang"
                                                    lang="ko">
                                                <label class="custom-file-label custom-file-label-sm mb-0" for="customFileLang"></label>
                                            </div></td>
                                            
                                            <td > <button class="btn btn-sm btn-outline-primary btn-round btn-icon">
                                                <span class="btn-inner--icon "><i class="far fa-file-excel"></i></span><span class="btn-inner--text"> 엑셀 다운로드</span>
                                            </button></td>
                                        </tr>
                                         <!-- //  등록방식 : 파일 -->
                                        <tr>
                                            <th>버튼</th>
                                            <td colspan="3" class="border-right-0">
                                                <select class="form-control form-control-sm d-inline-block w-auto">
                                                    <option value="">웹 링크</option>
                                                    <option value="">앱 링크</option>
                                                    <option value="">배송조회</option>
                                                    <option value="">봇키워드</option>
                                                    <option value="">메시지 전달</option>
                                                </select>
                                                <button type="button"
                                                    class="btn btn-sm btn-outline-primary ml-2">추가</button>

                                            </td>
                                            <td colspan="5"></td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>웹 링크</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td><input type="text" class="form-control form-control-sm"
                                                    placeholder="" required/></td>
                                            <th><em class="required">required</em>모바일 웹링크</th>
                                            <td><input type="text" class="form-control form-control-sm"
                                                    placeholder="" required/></td>
                                            <th>PC 웹링크</th>
                                            <td class="border-right-0"><input type="text" class="form-control form-control-sm"
                                                    placeholder="" /></td>
                                            <td><button type="button"
                                                    class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>앱 링크</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td><input type="text" class="form-control form-control-sm"
                                                placeholder="" required/></td>
                                            <th><em class="required">required</em>모바일 웹링크</th>
                                            <td><input type="text" class="form-control form-control-sm"
                                                placeholder="" required/></td>
                                            <th>PC 웹링크</th>
                                            <td class="border-right-0"><input type="text" class="form-control form-control-sm"
                                                placeholder="" /></td>
                                            <td><button type="button"
                                                class="btn btn-sm btn-outline-primary">삭제</button>
                                        </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>배송조회</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td class="border-right-0"><input type="text" class="form-control form-control-sm"
                                                placeholder="" required/></td>
                                                <td  colspan="5"><button type="button"
                                                    class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>
                                                
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>봇키워드</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td class="border-right-0"><input type="text" class="form-control form-control-sm"
                                                placeholder="" required/></td>
                                                <td colspan="5"><button type="button"
                                                    class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><em class="required">required</em>버튼 타입</th>
                                            <td>메시지 전달</td>
                                            <th><em class="required">required</em>버튼명</th>
                                            <td class="border-right-0"><input type="text" class="form-control form-control-sm"
                                                placeholder=""required /></td>
                                                <td  colspan="5"><button type="button"
                                                    class="btn btn-sm btn-outline-primary">삭제</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //Light table -->
                        </div>
                        <!-- //card body -->
                          <!-- button area -->
                          <div class="card-footer pb-4 btn_area">
                            <button type="submit" class="btn btn btn-outline-primary btn-icon">
                                <span class="btn-inner--icon"><i class="fas fa-save"></i></span><span
                                    class="btn-inner--text">저장</span>
                            </button>
                        </div>
                        <!-- e.button area -->
                   
                    </form>
                    <!-- e.form -->
                </div>
                <!-- e.card -->
            </div> <!-- e.page content -->
        </div>
        <!-- e.Contents area -->
    </div>
    <!-- e.wrapper -->

</html>