<!DOCTYPE html>
<html lang="ko">
<title>wise U</title>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="tree_fontello/css/fontello.css">
    <script src="../assets/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="../assets/css/jquery-ui.min.css">

    <script>
    $(function () {
        $("#subNav").load("../subNav.html");
        $("#js").load("../js.html");
         //datepicker
         $("#start_date").datepicker({
			beforeShow: function(input) {
			    setTimeout(function(){
			       $('#ui-datepicker-div').css({'position':'', 'top':'', 'bottom':'', 'left':'', 'z-index':''});
			    })
			},
			dateFormat: 'yy-mm-dd',
			showMonthAfterYear: true,
            yearSuffix: "년",
			dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
            monthNamesShort: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
			showOtherMonths: true,
		});
        $("#end_date").datepicker({
			beforeShow: function(input) {
			    setTimeout(function(){
			       $('#ui-datepicker-div').css({'position':'', 'top':'', 'bottom':'', 'left':'', 'z-index':''});
			    })
			},
			dateFormat: 'yy-mm-dd',
			showMonthAfterYear: true,
            yearSuffix: "년",
			dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            monthNames: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
            monthNamesShort: [ "1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월" ],
			showOtherMonths: true,
		});
    });
        
       
    </script>
</head>

<body>
<!-- wrapper -->
<div class="wrapper">
    <!-- 메뉴 -->
    <div id="subNav"></div>
    <div id="js"></div>
    <div id="headerTop"></div>
    <!-- //메뉴-->

    <!-- Contents area  -->
    <div class="main-panel">
        <!-- Page content -->
        <div class="container-fluid mt-4 mb-2">

            <!-- card -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <!-- title  -->
                    <h3 class="mb-0">모바일 템플릿 리스트</h3>
                    <!-- //title -->
                </div>
                <!-- e.Card header -->
                
                <!-- card body -->
                <div class="card-body pb-1">

                    <!-- search area & buttons -->
                    <div class="row align-items-center py-2 table_option">
                        <!-- buttons -->
                        <div class="col-auto btn_area">                          
                            <button class="btn btn-sm btn-outline-primary btn-round btn-icon">
                                <span class="btn-inner--icon"><i class="fas fa-trash"></i></span><span class="btn-inner--text">삭제</span>
                            </button>
                        </div>
                        <!-- e.buttons -->

                        <!-- search -->
                        <div class="col-auto searchWrap">
                            <div class="form-group searchbox">
                                <select class="form-control form-control-sm">
                                    <option>템플릿 유형</option>
                                    <option>단문 메시지</option>
                                    <option>장문 메시지</option>
                                    <option>MMS이미지</option>
                                    <option>친구톡 이미지</option>
                                </select>
                            </div>
                            <div class="form-group searchbox">
                                <span class="form-control-label txt">작성일</span>
                                <div class="input_datebox">
                                    <input type="text" id="start_date" class="form-control form-control-sm" />
                                </div>
                                <span class="form-control-label">~</span>
                                <div class="input_datebox">
                                    <input type="text" id="end_date" class="form-control form-control-sm" />
                                </div>
                              
                            </div>
                            <div class="search_input">
                                <span class="form-control-label txt">템플릿 명</span>
                                <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable-basic" />
                                <button class="btn btn-sm btn-outline-info btn-icon btn_search">
                                    <span class="btn-inner--icon"><i class="fas fa-search"></i></span><span class="btn-inner--text">검색</span>
                                </button>
                            </div>
                        </div>
                        <!-- //search -->
                    </div>
                    <!-- e.search area & buttons -->
                </div>
                <!-- e.card body -->
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table table-sm dataTable">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">선택</th>
                            <th scope="col">No</th>
                            <th scope="col">태그</th>
                            <th scope="col">템플릿명</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">유형</th>
                            <th scope="col">공유유형</th>
                        </tr>
                        </thead>
                        <tbody>                          	 					
                        <tr>
                            <th scope="row">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="radio1" name="customradio" class="custom-control-input" />
                                    <label class="custom-control-label" for="radio1"></label>
                                </div>
                            </th>
                            <td>348</td>
                            <td>13</td>
                            <td class="text-left">
                              <a href="#!" class="font-weight-bold">템플릿 등록 test</a></td>
                            <td>테스터</td>
                            <td>2020-07-31</td>
                            <td>IMAGE</td>
                            <td>사용자</td>
                        </tr>
                        <tr>
                          <th scope="row">
                              <div class="custom-control custom-radio">
                                  <input type="radio" id="radio1" name="customradio" class="custom-control-input" />
                                  <label class="custom-control-label" for="radio1"></label>
                              </div>
                          </th>
                          <td>348</td>
                          <td>13</td>
                          <td class="text-left">
                            <a href="#!" class="font-weight-bold">템플릿 등록 test</a></td>
                          <td>테스터</td>
                          <td>2020-07-31</td>
                          <td>IMAGE</td>
                          <td>사용자</td>
                      </tr>
                        </tbody>
                    </table>
                </div>
                <!-- e.Light table -->

                <!-- pagenation -->
                <div class="pagination pagination-sm mb-0 pb-2 pt-1 justify-content-center">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="datatable-basic_previous"><a href="#" aria-controls="datatable-basic" data-dt-idx="0" tabindex="0" class="page-link"><i class="fas fa-angle-left"></i></a></li>
                        <li class="paginate_button page-item active"><a href="#" aria-controls="datatable-basic" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                        <li class="paginate_button page-item next disabled" id="datatable-basic_next"><a href="#" aria-controls="datatable-basic" data-dt-idx="2" tabindex="0" class="page-link"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- e.pagenation -->
            
            </div>
            <!-- e.card -->

        </div> <!-- e.page content -->
    </div>
    <!--e.Contents area-->
</div>
<!-- e.wrapper -->

</html>