<!DOCTYPE html>
<html lang="ko">
<title>wise U</title>

<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="tree_fontello/css/fontello.css">

    <script>
    $(function () {
        $("#js").load("/js.html");
    });

    

    </script>
</head>

<body>
<div id="js"></div>

<div class="card pop-card">
    <div class="card-header">
        <h5 class="mb-0">템플릿 보기</h5>
    </div>

    <div class="card-body">
        <div class="img"><img src="http://img01.carrym.com/mnwise/2020_07/img_09.jpg" alt=""></div>
    </div>
    
<!--  닫기 버튼 
     <div class="card-footer">
        <button type="button" class="btn btn-outline-default" data-dismiss="modal">닫기</button>
    </div>
    -->

</div>

</html>