<!DOCTYPE html>
<html lang="ko">
<title>Wise U</title>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script>
    $(function () {
      $("#subNav").load("../subNav.html");
      $("#js").load("../js.html");
      $("#headerTop").load("../headerTop.html");
    });
  </script>
</head>

<body>
  <div class="wrapper">
    <!-- 메뉴 -->
    <div id="subNav"></div>
    <div id="js"></div>
    <div id="headerTop"></div>
    <!-- 메뉴 End-->

    <!-- 내용 -->
    <div class="main-panel">
      <!-- Page content -->
      <div class="container-fluid mt-4 mb-2">
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">템플릿 수정</h3>
          </div>
          <!-- e. Card header -->

          <!-- form -->
          <form>
            <!-- card-body -->
            <div class="card-body newgridWrap">
              <!-- Light table -->
              <div class="table-responsive">
                <table class="table table-sm dataTable">
                  <thead class="thead-light">
                    <colgroup>
                      <col style="width:10%;" />
                      <col style="width:23%;" />
                      <col style="width:10%;" />
                      <col style="width:23%;" />
                      <col style="width:10%;" />
                      <col style="width:24%;" />
                    </colgroup>
                  <tbody>
                    <tr>
                      <th scope="row">태그</th>
                      <td><input type="text" class="form-control form-control-sm" placeholder="" /></td>
                      <th scope="row"><em class="required">required</em>템플릿명</th>
                      <td><input type="text" class="form-control form-control-sm" placeholder="" required /></td>
                      <th scope="row">설명</th>
                      <td><input type="text" class="form-control form-control-sm" placeholder="" /></td>
                    </tr>
                    <tr>
                      <th scope="row"><em class="required">required</em>파일선택</th>
                      <td>
                        <div class="custom-file custom-file-sm">
                          <input type="file" class="custom-file-input " id="customFileLang" lang="ko" required>
                          <label class="custom-file-label custom-file-label-sm  mb-0" for="customFileLang"></label>
                        </div>
                      </td>
                      <th scope="row"><em class="required">required</em>공유유형</th>
                      <td>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline2" name="customRadioInline1"
                            class="custom-control-input" required />
                          <label class="custom-control-label" for="customRadioInline2">사용자 </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline3" name="customRadioInline1"
                            class="custom-control-input" />
                          <label class="custom-control-label" for="customRadioInline3">부서 </label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline4" name="customRadioInline1"
                            class="custom-control-input" />
                          <label class="custom-control-label" for="customRadioInline4">전체</label>
                        </div>
                      </td>
                      <!-- window.opn pop-->
                      <th scope="row"><em class="required">required</em>템플릿 url</th>
                      <td><a class="font-weight-700" href="#"
                          onclick="window.open('template_preview_content.html', '_blank', 'width=600,height=500');">
                          blue.png</a></td>
                    </tr>
                    <tr>
                      <th scope="row"><em class="required">required</em>작성자</th>
                      <td></td>
                      <th scope="row"><em class="required">required</em>작성일</th>
                      <td colspan="3">2020-09-22 03:10:19</td>

                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- // Light table -->
            </div>
            <!-- //card-body -->

            <!-- button area -->
            <div class="card-footer pb-4 btn_area">
              <div class="row">
                <div class="col col-6">
                  <button type="button" class="btn btn btn-outline-primary btn-icon">
                    <span class="btn-inner--icon"><i class="fas fa-save"></i></span><span
                      class="btn-inner--text">저장</span>
                  </button>
                  <button type="button" class="btn btn btn-outline-primary  btn-icon">
                    <span class="btn-inner--icon"><i class="fas fa-trash"></i></span><span
                      class="btn-inner--text">삭제</span>
                  </button>
                </div>
                <div class="col col-6">
                  <!-- window.opn pop-->
                  <button type="button" class="btn btn btn-outline-info btn-icon"
                    onclick="window.open('template_preview_content.html', '_blank', 'width=600,height=500');">
                    <span class="btn-inner--icon"><i class="fas fa-eye"></i></span><span class="btn-inner--text">템플릿
                      보기</span>
                  </button>
                </div>
              </div>
            </div>
            <!-- e.button area -->
          </form>
          <!-- e.form -->

        </div>
        <!-- e.Card -->
      </div>
    </div>
    <!--내용-->
  </div>


  </script>

</html>