
/* wrap = sidebar(250px) + mainpanel(100%-250px) */

/*sideNav*/
.wrapper { min-width:1280px;  max-width:none!important;  position: relative; top: 0;  height: 100vh;}
.sidebar {position: fixed;  top: 0; bottom: 0;  left: 0;  z-index: 2; width: 250px;  background: #fff; border:none; }
.sidebar .sidebar-wrapper{position: relative;  height: calc(100vh - 75px); overflow-y: auto ; overflow-x: hidden; width: 250px; z-index: 4;  padding-bottom: 30px;}
 
.sidebar .nav li {margin: 0 15px;}
.sidebar .nav-link {padding: .675rem 1.5rem;}
.sidebar .navbar-brand {padding: 1.5rem;}
.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand>img { max-width: 100%; max-height: 3rem;}

/*mainpanel*/
.main-panel {position: relative; float: right; width: calc(100% - 250px); }
 
  .dp-flex{display: flex ;}
  .form-group-mb{ margin-bottom: .8rem;}

 /*dataTablest CSS */
 /* 분리된 테두리 표: separate */
 table.dataTable {border-collapse: separate !important;}

 /*플러그인에 있는 select box, script단에서 초기화 후 display: none*/
 div.dataTables_wrapper div.dataTables_length label { display: none;}

 /*페이지네이션 중앙 정렬*/
div.dataTables_wrapper div.dataTables_info {position:absolute;}
div.dataTables_wrapper div.dataTables_paginate {float:none; text-align:center;}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {justify-content: center;}


/*테이블 패딩 줄인 css env_smtpocode.html,env_push_setting.html */
.table-xs th, .table-xs td {padding: .3rem;}
.table-xs :last-child{border-bottom:1px}
.table-xs tbody tr:last-child td {border-bottom:1px solid #e9ecef;  }
/*테이블 마지막 라인추가*/
.table-bt{border-bottom:1px solid #e9ecef;  }
.td-cursor td{cursor: pointer;}


/* 테이블 선 추가 적용 : env_push_setting.html*/
.table-border-pd{border-collapse: collapse;  }
.table-border-pd th, .table-border-pd td{ border:1px solid #e9ecef;  } 
.table-border-pd td{ padding: .5rem;}/*  border-right:1px solid #e9ecef; */

/*form-control과 맞추기 위한 css - template_view.html*/
.div-control-box{font-size: .875rem;  font-weight: 400;  line-height: 1.5;  width: 100%; height: calc(1.5em + 1.25rem + 3px);  padding: .625rem .75rem;
  transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);   color: #8898aa;   border: 1px solid #dee2e6; border-radius: .25rem;
  background-color: #fff; background-clip: padding-box;  box-shadow: 0 3px 2px rgba(233, 236, 239, .05);}




/***** button *****/
.card-footer.btn_area {text-align:center;}
.card-footer.btn_area button {min-width:15em;}



/***** search *****/
.searchWrap > * {padding-left:15px;}
.searchbox {margin-bottom:0; text-align:right;}
.searchbox > *, .searchbox .form-control {display:inline-block; width:auto; font-size:.8125rem;}
.searchbox select:not(:first-child), .searchbox input:not(:first-child) {margin-left:5px;}
.search_input .form-control-label {display:inline-block; font-size:.8125rem;}
.search_input > * {vertical-align: middle;}
.search_input input {width:150px; margin:0 5px;}

.table_option {-webkit-box-align:center; align-items:center; -webkit-justify-content:space-between; -moz-justify-content:space-between; -ms-justify-content:space-between; justify-content:space-between;}
.table_option .searchWrap {-webkit-flex:1; flex:1; text-align:right;}
.table_option .searchWrap > * {display:inline-block; white-space: nowrap;}
.table_option .btn:not(:last-child) {margin-right:5px;}




/***** table *****/
.card .table td, .card .table th {padding-left:20px; padding-right:20px; text-align:center;}
.table thead th {font-size:.8125rem;}
.table th .custom-control {padding-left:16px;}
.table th .custom-control-label::before, .table th .custom-control-label:after {left:-16px;}
.table .text-left a {display: block; min-width:150px;}
.table-form {border-width:1px 0;}
.table.table-form th, .table.table-form td {padding-top:10px; padding-bottom:10px; text-align: left;}
.table.table-form th {padding-left:35px; vertical-align: middle; background:#f6f9fc;}
.table-form th .required {margin-left:-10px; margin-right:6px;}
.table-form tr > *:first-child {border-left: none;}
.table-form tr > *:last-child {border-right: none;}
.table.table-form td {text-align:left;}

/***** text *****/
.required {display:inline-block; width:4px; height:4px;  margin-right:5px; text-indent:-999em; font-size:.1em; vertical-align:middle; text-align:left; background:#5e72e4; border-radius:4px;}

/***** forms *****/
.form-group dl {font-size:.875rem;}
.form-group dt {font-weight:600; color:#525f7f;}
.form-group dd {display:-webkit-box; display:flex; min-height:46px; margin:0; -webkit-box-align:center; align-items:center;}
.form-group dd .custom-control-label {vertical-align: middle;}

.col-form-label {text-align:right; background:#f7fafc;}


/***** custom contents *****/
.txt_channel {display:inline-block; width:20px; height:20px; font-style:normal; font-weight: 500; font-size:.75rem; color:#fff; text-align:center; line-height:20px; background:var(--info); border-radius:2px;}
.txt_channel.a {background:var(--orange);}

/* step */
.stepWrap {position:relative; display:inline-block; margin:0; padding:0; list-style: none; font-size:.8125rem; color:#fff;}
.stepWrap:before {content:""; position:absolute; left:8px; top:50%; right:8px; height:1px; background:#eee;}
.stepWrap > * {position:relative; display:inline-block; margin:0 5px;}
.stepWrap .box {padding:2px;  width:25px; height:25px; text-align:center; line-height:21px; background:#dfdfdf; border-radius:20px;}
.stepWrap .box .txt {position:absolute; left:-999em; top:-9999em; opacity:0;}
.stepWrap .current .box {width:auto; min-width:80px; padding:2px 10px; font-weight:bold; font-size:.875rem; background:#5e72e4}
.stepWrap .current .box .txt {position:static; margin-right:.5em; opacity:1;}


