
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&family=Nanum+Gothic:wght@400;700&display=swap');


body {font-family:'Roboto', 'Nanum Gothic', 'Noto Sans KR', sans-serif;}


/* wrap = sidebar(250px) + mainpanel(100% / padding-left 250px) */

/*wrapper 1260 작업 시 스크롤 x : 최소 해상도 1280px에서 스크롤이 발생하지 않도록 최소 너비는 스크롤바 너비를 제외한 1260px로 해야 합니다. 
- min-height사용 이유- height 사용할 경우 자식의 height가 최대 100vh,  자식의 높이가 더 커질 경우 부모가 감쌀 수 없다 
- float 해제 방법 : 부모 element에 "overflow:hidden;"추가 또는 :after 요소를 활용하여 "clear:both;" 추가하여 float를 해제할 수 있습니다. 
현재는 main-panel에 float:left; 를 삭제 하였으므로 float해제 불필요함 */ 
.wrapper { min-width:1260px;  max-width:none !important;  position: relative; top: 0;  min-height: 100vh; padding-left:220px; }
.sidebar {position: fixed;  top: 0; bottom: 0;  left: 0;  z-index: 2; width: 220px;  background: #172b4d; border:none; }
.sidebar .sidebar-wrapper{position: relative;  height: calc(100vh - 75px); overflow-y: auto ; overflow-x: hidden; width: 220px; z-index: 4;  padding-bottom: 30px;}
 
.navbar-vertical .navbar-nav {margin:0;}

/*.sidebar .nav li {margin: 0 15px;}*/
.sidebar .nav-link {padding: .675rem 1.5rem; font-weight:500; color:#fff;}
.sidebar .navbar-brand {padding: 1.5rem;}
.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand>img { max-width: 100%; max-height: 3rem;}
body{background:#fff;}

/*mainpanel - 자식의 값에 float가 있을 경우 부모가 감싸지 못한다 -> 부모에 overflow값 or :after{clear:both} */
/*.main-panel {position: relative; float: right; width: calc(100% - 250px);}*/
.main-panel {position: relative;}
.main-panel > .container-fluid {padding-left:15px;}

/* headerTop 없을 경우 대응 */
.main-panel > .container-fluid {margin-top:0 !important; padding-top:1.5rem !important;}
 
.dp-flex{display: flex ;}


/*** input-file**/
.custom-file-input:lang(ko) ~ .custom-file-label::after{content: '파일 선택';}
.custom-file-input {display:none;}
.notice-text {padding-inline-start: 10px;}
.notice-text li{list-style:none;  }
.custom-file.custom-file-sm{height:32px;}
.custom-file-label-sm{height: calc(.45em + 1.25rem + 6px);  padding-top: calc(.25rem + 2px); padding-bottom: calc(.25rem + 2px); overflow: hidden; padding-left:.45em; }
.custom-file-label-sm::after{height: calc(.45em + 1.25rem + 5px); padding-top: calc(.25rem + 2px); padding-bottom: calc(.25rem + 2px); font-size: .75rem; }

/*** friendtalk-img **/
.friendtalk-view-img{width:240px; height:240px; margin-bottom: 1rem; border:1px solid #e8e8e8;}

/*** mms-view-img **/
.mms-view-img{width:220px; height:184px; margin-bottom: 1rem; border:1px solid #e8e8e8;}
.textarea-font-style{font-style: normal; text-align-last: right;}
.count-text, .quill-count-text{color:#5e72e4;}
/*** mms-view-img **/

/*brandtalk-img*/
.notice-text.notice-text-img li:first-child {height:220px;position: relative;}
.notice-text.notice-text-img .brandtalk-img-text{display:inline-block;  position: absolute; top:100px}
.notice-text.notice-text-img li:first-child .imgwrap{ position: absolute; left:110px; display:inline-block; width:240px; height:200px; margin:10px 20px 10px 0; background:#f6f9fc; border:1px solid #ccc; box-sizing: border-box;}
.notice-text.notice-text-img li:first-child .imgwrap .image-area {display:-webkit-box; display:flex; -webkit-box-align: center; align-items:center; width:100%; height:100%;}
.notice-text.notice-text-img li:first-child .imgwrap img {max-width:100%; }
.friendtalk-view-img img, .mms-view-img img{background-size: contain; max-width: 100%; max-height: 100%;}

/* window-pop 
.window-pop .modal-footer {justify-content: center;}*/

/***** common class *****/
.hide {position: absolute; left:-999em; top:-999em; width:0; height:0; text-indent:-999em; opacity:0;}
.none {display:none !important;}
em {font-style: normal; color:var(--primary);}

/* icon */
.fa-file-excel {font-size:.9375rem;}

/***** button *****/
.btn {font-weight:500;}
.card-footer.btn_area, .btn_area {text-align:center;}
.card-footer.btn_area .col {text-align:left;}
.card-footer.btn_area .col:last-child {text-align:right;}
.card-footer.btn_area .col:only-child {text-align:center;}
.card-footer.btn_area button {min-width:10em;}
.card-footer.btn_area .col-auto button {min-width:7em;}

.btn-secondary {background-color:#f9f9f9; border-color:#f9f9f9;}

/* btn 테두리 및 text색 변경건 border: #dee2e6 color=#8898aa -- 2020.09.29   */
a{color:#525f7f;}
.btn-outline-primary{border:1px solid #afb4b8; color:#495572}


.btn_mail_reject {min-width:30px; height:28px; text-indent:-9999em; background:url("../img/btn_mail_reject.png") no-repeat 55% center;}
.btn_mail_reject:hover {background-color:#ffd600;}
.btn_help {width:30px; min-width:30px !important; height:30px; padding:0 !important;}
.btn_help .far {font-size:1.25rem;}

button.btn-sm {min-height:31px; }

/***** search *****/
.searchWrap > * {padding-left:15px;}
.searchWrap > *:first-child {padding:0;}
.searchbox {margin-bottom:0; text-align:right;}
.searchbox > *, .searchbox .form-control {display:inline-block; width:auto; font-size:.8125rem;}
.searchbox select:not(:first-child), .searchbox input:not(:first-child) {margin-left:5px;}
.search_input {position:relative; padding-right:48px;}
.search_input .form-control-label {display:inline-block; font-size:.8125rem;}
.search_input > * {display:inline-block; width:auto; vertical-align: middle;}
.search_input input {width:150px; margin:0 5px;}
.search_input input:last-of-type {width:160px; margin-right:0; border-radius:.25rem 0 0 .25rem;}
.search_input .btn_search {position:absolute; right:0; top:0; width:50px; height:100%; padding:2px; background-color:#fff; border-radius:0 .25rem .25rem 0;}
.search_input .btn_search .btn-inner--text {margin-left:2px;}
.search_input .btn_search:hover {background:#11cdef;}

.table_option {-webkit-box-align:center; align-items:center; -webkit-justify-content:space-between; -moz-justify-content:space-between; -ms-justify-content:space-between; justify-content:space-between;}
.table_option .form-group {margin-bottom:0;}
.table_option .searchWrap {text-align:right;}
.table_option .searchWrap > * {display:inline-block; white-space: nowrap;}
.table_option .btn:not(:last-child) {margin-right:5px;}
.table_option .form-control {display:inline-block; width:auto;}
.table_option .periodWrap {display:inline-flex;}
.table_option .periodWrap .datepicker-inline {width:140px;}
.table_option .periodWrap .btn {min-width:30px;}
.table_option.st02 .btn_area {-webkit-order:2; order:2;}
.table_option.st02 .searchWrap {-webkit-order:1; order:1; margin-bottom:10px; margin-left:auto;}

/***** tab *****/
.nav-tabs.tab01 .nav-link {min-width:7em; padding:10px; text-align:center;}
.nav-tabs.tab01 .nav-link.active, .nav-tabs.tab01 .nav-item.show .nav-link {position:relative; font-weight:bold; color:#0764ff;}
.nav-tabs.tab01 .nav-link.active:before {content:""; position:absolute; left:10px; right:10px; bottom:0; height:2px; background:#0764ff; border-radius:2px;}

.nav-tabs.tab02 {flex-wrap:nowrap; border-bottom:none;}
.nav-tabs.tab02 .nav-item {width:200px; min-width:110px; margin:0 10px 0 0; flex:0 1 auto;}
.nav-tabs.tab02 .nav-link {position:relative; padding:15px 10px 20px; font-size:.875rem; color:#8f96a3; text-align:center; border:none;}
.nav-tabs.tab02 .nav-link:before {content:""; position:absolute; left:0; right:0; bottom:0; height:4px; background:#dde7fa; border-radius:4px;}
.nav-tabs.tab02 .nav-link.active, .nav-tabs.tab01 .nav-item.show .nav-link {font-weight:bold; color:#0764ff; background:none; border:none;}
.nav-tabs.tab02 .nav-link.active:before, .nav-tabs.tab01 .nav-item.show .nav-link:before {background:#0764ff;}
.nav-tabs.tab02 .nav-link:hover {color:#5e72e4;}


/***** table *****/
.card .table {border-collapse: collapse !important;}
.card .table td, .card .table th {padding-left:12px; padding-right:12px; text-align:center; vertical-align: middle; border:0 solid #e9ecef; border-width:1px 1px 0 0;}
.card .table tr > *:first-child {border-left:none;}
.card .table tr > *:last-child {border-right:none;}
.table thead th {font-size:.8125rem;}
.table thead tr:not(:first-child) > * {background:#fbfbfb;}
.table tfoot tr > * {border-top-color:rgba(90,90,130,.6) !important;}
.table th .custom-control {padding-left:16px;}
.table th .custom-control-label::before, .table th .custom-control-label:after {left:-16px;}
.table .text-left a {display: block; min-width:150px;}
.table-view {margin:0; border-width:1px 0;}
.table-view:only-child {margin:0 !important;}
.table.table-view th, .table.table-view td {padding:.5rem 12px; font-size:.875rem; text-align: left; white-space: normal;}
.table.table-view th {height:31px; vertical-align: middle; background:#f6f9fc;}
.table-view tr > *:first-child {border-left: none;}
.table-view tr > *:last-child {border-right: none;}
.table-view .btn-outline-secondary, .table-view .btn-outline-danger {min-width:60px;}
.table-view .form-row .btn {height:calc(.45em + 1.25rem + 5px);}
.table-view .form-row .btn-outline-secondary {border-color:#dee2e6;}
.table.table-view td {text-align:left;}
.table th {font-weight:500;}
.table th, .table td>a{max-width:170px; overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;}
.table td {white-space: normal;}
.table-responsive:first-child > table {margin-top:0 !important;}
.table .btn-icon {min-width:30px; padding:4px 7px;}

.card .table-sm th, .card .table-sm td, .card .table.table-sm thead > tr > th {padding:.5rem;}
.table .form-group:last-child{margin-bottom:0;}
.table .form-group + .btn_area {margin-top:-10px;}
.table .btn_area:last-child {padding-bottom:10px;}

.card-body .table-responsive:last-child .dataTable:last-child {margin-bottom: 0 !important;}


.max-text-overflow .table td>a{max-width:380px; overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;}

/* new test sample  --  위  코드  참조하여 ---  예시) campaign_per_history.html -- 작업 */
.newgridWrap .table {border-collapse: collapse !important; }
.newgridWrap  table.dataTable.table-sm>thead>tr>th{padding:8px 12px;}
.newgridWrap .table th, .gridWrap .table td { font-size:.875rem;  vertical-align: middle; border:0 solid #e9ecef; border-width:1px 1px 0 0;}
.newgridWrap .table th {font-weight:600; color:#525f7f;  text-align:right; background:#f7fafc;}
.newgridWrap .table td {text-align: left;}
.newgridWrap .table td > * {vertical-align: middle;}
.newgridWrap .table .align-text-top {line-height:31px;}
.card  {box-shadow:none;}


/*table-xs env_smtpocode.html,env_push_setting.html */
.table-xs th, .table-xs td {padding: .2rem;}



@media screen and (max-width:1350px) {
    .newgridWrap .table th, .newgridWrap .table td {padding:8px ;}
    .col-phone + div .newgridWrap {letter-spacing:-1px;}
    .min-w250{min-width: 250px;}
}

/***** text *****/
.required {display:inline-block; width:4px; height:4px;  margin-right:5px; text-indent:-999em; font-size:.1em; vertical-align:middle; text-align:left; background:#5e72e4; border-radius:4px;}
.txt_info01 {margin:5px 0; font-size:.8125rem; color:#359bff;}

.required-tri{ position:relative;}
.required-tri::after {content: "";  position: absolute; border-left: 9px solid transparent;  border-top: 9px solid #359bff; right:0px; top: 0px;}

.li-circle {display:inline-block; width:3px; height:3px;  margin-right:3px; text-indent:-999em; font-size:.1em; vertical-align:middle; background:#4b4b4b; }

.font-size-basic {font-size:1rem;}

.alert {padding:5px 15px; font-size:.75rem;}
.alert-warning {color:#fc7c5f; background:none; border:1px solid #fc7c5f;}
.alert-icon {margin-right:10px;}

.card h4.h3 em {font-size:.9375rem; color:#000;}
.card h4.h3 em:before {content:"|"; margin:0 .5em; font-weight:bold; font-size:.875rem; color:#8898aa;}

/***** forms *****/
.form-group dl {font-size:.875rem;}
.form-group dt {font-weight:600; color:#525f7f;}
.form-group dd {display:-webkit-box; display:flex; min-height:46px; margin:0; -webkit-box-align:center; align-items:center;}
.form-group dd .custom-control-label {vertical-align: middle;}
.form-group button {min-width:46px; height:46px; padding:5px 10px;}
.form-group button.btn-sm {height:30px;}

.gridWrap .row {-webkit-box-align:center; align-items: center;}
.gridWrap .col-form-label {text-align:right; background:#f7fafc;}
.gridWrap .row > .col-form-label:first-child {padding-left:0; border-left:15px solid #fff;}
.col-form-label + div .row > div + div {padding-left:0;}
.gridWrap .ql-toolbar + .ql-container {height:250px;}

@media screen and (max-width:1499px) {
    .form-group dt, .gridWrap .col-form-label {padding-right:10px; letter-spacing:-.05em;}
}

.form_subcheckbox {position:relative; margin:0 20px 0 0;}
.form_subcheckbox::before {content:"("; position:absolute; left:-.6em; top:50%; height:1.2rem; margin-top:-.6rem; line-height:1.2rem;}
.form_subcheckbox::after {content:")"; position:absolute; right:-.5em; top:50%; height:1.2rem; margin-top:-.6rem; line-height:1.2rem;}

.input-has-unit {position: relative;}
.input-has-unit input {padding-right:2em;}
.input-has-unit .unit {position:absolute; right:10px; top:50%; font-size:.875rem; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.row > .input-has-unit .unit {right:25px;}

.custom-control.custom-switch {padding-left:2.25rem;}
.custom-switch .custom-control-label::before {left:-2.25rem;}
.custom-switch .custom-control-label::after {left:calc(-2.25rem + 2px);}
.custom-switch .custom-control-input:checked~.custom-control-label::after {-webkit-transform: translateX(.75rem); transform: translateX(.75rem);}

/* 라벨이 없는 input 체크, 라디오에 height 값을 잡아 줄 수 없어 해당 인풋이 정상적으로 보여지지 않습니다. 
ex, campaign/campaign_2step_mail_form.html 수신확인 체크박스  
.custom-control.custom-radio, .custom-control.custom-radio label, .custom-control.custom-checkbox, .custom-control.custom-checkbox label {min-height:inherit; height:auto !important;} */

/* period */
.periodWrap {display:flex;}
.periodWrap .txt {width:2em; text-align:center;}
.periodWrap .date input {border-radius:.25rem 0 0 .25rem;}
.periodWrap .date .btn {height:100%;}
.date.datepicker, input[type='date'], input[type='time'], input[type='datetime-local'], input[type='month'] {max-width:150px;}

/***** custom contents *****/
.txt_channel {display:inline-block; width:20px; height:20px; margin:0 5px; font-style:normal; font-weight: 500; font-size:.75rem; color:#fff; text-align:center; line-height:20px; vertical-align:middle; border:1px solid #1ac1e7; color:#1ac1e7; border-radius:2px; font-weight: 700;}
.txt_channel.s {border:1px solid #4491fc; color:#4491fc; }
.txt_channel.m {border:1px solid #fd831f; color:#fd831f;}
.txt_channel.a {border:1px solid#fcd72c; color:#fcd72c;}
.txt_channel.b {border:1px solid#3c1e1e; color:#3c1e1e;}
.txt_channel.p {border:1px solid#dd3b41; color:#dd3b41;}
.txt_channel.f {border:1px solid #9b11fc; color:#9b11fc;}
.txt_channel.c {border:1px solid #fb6aa6; color:#fb6aa6;}

/* step */
.stepWrap {position:relative; display:inline-block; margin:0; padding:0; list-style: none; font-size:.8125rem; color:#fff;}
.stepWrap:before {content:""; position:absolute; left:8px; top:50%; right:8px; height:1px; background:#eee;}
.stepWrap > * {position:relative; display:inline-block; margin:0 5px;}
.stepWrap .box {padding:2px;  width:25px; height:25px; text-align:center; line-height:21px; background:#dfdfdf; border-radius:20px;}
.stepWrap .box .txt {position:absolute; left:-999em; top:-9999em; opacity:0;}
.stepWrap .current .box {width:auto; min-width:80px; padding:2px 10px; font-weight:bold; font-size:.875rem; background:#5e72e4}
.stepWrap .current .box .txt {position:static; margin-right:.5em; opacity:1;}


/* list depth */
.list_depth {position:relative; padding-left:40px;}
.list_depth.depth3 {padding-left:50px;}
.list_depth.depth4 {padding-left:60px;}
.list_depth.depth5 {padding-left:70px;}
.depth_type {position:absolute; left:10px; top:50%; width:22px; height:14px; margin-top:-7px; text-indent:-999em; background:url("../img/type_S.png") no-repeat left center;}
.depth_type.f {background-image:url("../img/type_F.png");}
.list_depth.depth3 .depth_type {left:20px;}
.list_depth.depth4 .depth_type {left:30px;}
.list_depth.depth5 .depth_type {left:40px;}

/* gird */
@media screen and (min-width: 1500px) {
    .col-xxl-auto {flex:0 0 auto; width:auto; max-width:100%;}
    .col-xxl-1 {flex:0 0 8.33333%; max-width:8.33333%;}
    .col-xxl-2 {flex:0 0 16.66667%; max-width:16.66667%;}
    .col-xxl-3 {flex:0 0 25%; max-width:25%;}
    .col-xxl-4 {flex:0 0 33.33333%; max-width:33.33333%;}
    .col-xxl-5 {flex:0 0 41.66667%; max-width:41.66667%;}
    .col-xxl-6 {flex:0 0 50%; max-width:50%;}
    .col-xxl-7 {flex:0 0 58.33333%; max-width:58.33333%;}
    .col-xxl-8 {flex:0 0 66.66667%; max-width:66.66667%;}
    .col-xxl-9 {flex:0 0 75%; max-width:75%;}
    .col-xxl-10 {flex:0 0 83.33333%; max-width:83.33333%;}
    .col-xxl-11 {flex:0 0 91.66667%; max-width:91.66667%;}
    .col-xxl-12 {flex:0 0 100%; max-width:100%;}

}


/* phone message */
.col-phone {width:280px; min-width:280px; max-width:280px;}
.phone_preview {position:relative; width:236px; height:415px; margin:0 auto; background:url("../img/phone_bg.gif") no-repeat 0 0;}
.phone_preview .preview_box {position:absolute; left:7px; top: 67px; display:-webkit-box; display:flex; -webkit-flex-direction:column; flex-direction:column; width:222px; height:309px; font-size:.875rem; overflow:auto;}
.phone_preview .preview_box .tit {margin:0; padding:5px 15px; font-weight: bold;}
.phone_preview .preview_box .tit.form-group {padding:5px 15px; background:#f9f9f9; border-bottom:1px solid #ccc;}
.phone_preview .preview_box .preview-img img{background-size: contain; max-width:220px; max-height:149px; padding:.2rem;  box-sizing:border-box; }
.phone_preview .preview_box .text {-webkit-flex:1; flex:1;}
.phone_preview .preview_box .text > * {width:100%; height:100%; margin:0; border-radius: 0;}
.phone_preview .preview_box .text iframe {border:none;}
.phone_preview .letter_count {position:absolute; left:7px; top:376px; width:222px; height:32px; padding:0 15px; font-size:.8125rem; line-height:32px; background:#f6f6f6; overflow:auto;}
.msgsample_list ul {margin:0 0 20px; padding:0; list-style:none; overflow:hidden;}
.msgsample_list ul li {float:left; width:240px; height:200px; margin:10px 20px 10px 0; background:#f6f9fc; border:1px solid #ccc; box-sizing: border-box;}
.msgsample_list .text-area {width:100%; height:100%; padding:1em; font-size:.875rem; overflow:auto; white-space: pre-wrap;}
.msgsample_list.image_type li {width:200px; height:200px;}
.msgsample_list .image-area {display:-webkit-box; display:flex; -webkit-box-align: center; align-items:center; width:100%; height:100%;}

.msgsample_list img {max-width:100%;}

/* editor */
.editorWrap {min-height:200px;}

/* 첨부파일 갯수 현황 */
.attrfiles_status {background:#f6f9fc;}

/* 비교함 - 비교 */
.compare-row {margin-left:-10px; margin-right:-10px;}
.compare-row .col {padding-left:10px; padding-right:10px;}
.compare_wrapper {padding:10px; border:1px solid #eee;}
.compare_wrapper .titWrap {display:-webkit-box; display:flex; -webkit-box-align: center; align-items: center; min-height:4rem; margin:-10px -10px 10px; padding:10px; background:#f5f5f5; border-bottom:1px solid #eee;}
.compare_wrapper .titWrap h6 {width:100%; margin:0; text-align:center;}
.compare_wrapper .titWrap h6 > span {display:block;}

/* accordion */
.accordion .card {box-shadow:0 0 2rem 0 rgba(136, 152, 170, .15);}

/***** modal *****/
.modal-backdrop.show {opacity:.7;}
.modal-backdrop.show ~ .modal-backdrop.show {opacity:.1;}
.modal-dialog {width:80%; max-width:1000px;}
.modal-header {padding:1rem; -webkit-box-align:center; align-items:center; background:#f0f0f0;}
.modal-body {padding:20px;}
.modal-body .table:last-child {margin-bottom:0 !important;}
.modal-dialog .table {border-collapse: collapse !important;}
.modal-dialog .table td, .modal-dialog .table th {padding-left:10px; padding-right:10px; text-align:center; vertical-align: middle; border:1px solid #e9ecef;}
.modal-footer button {min-width:150px;}

/***** window open popup *****/
.pop-card {height:100vh; min-height:100%; margin:0 !important;}
.pop-card .card-header {padding:15px 1.5rem; font-size:1.125rem; border-bottom:5px solid #f9f9f9; box-shadow:inset 0 -1px #e8e8e8; border-radius:0 !important;}
.pop-card .card-header * {font-weight:bold; color:#172b4d;}
.pop-card .card-header h5 {font-size:1.125rem;}
.pop-card .card-header em {margin-left:5px; font-weight:500; font-size:.875rem; color:#359bff;}
.pop-card .card-body {-webkit-flex:1; flex:1; overflow: auto;}
.pop-card .compare-row, .pop-card .compare-row .col {height:100%;}
.pop-card .card-body .form-group:last-child {margin-bottom:0;}
.pop-card .compare_wrapper {display:-webkit-box; display:flex; height:100%; -webkit-flex-direction:column; flex-direction:column;}
.pop-card .compare_wrapper .text-area {-webkit-flex:1; flex:1;}
.pop-card .compare_wrapper textarea {height:100% !important;}
.pop-card .card-footer {text-align:center;}
.pop-card .card-footer button {min-width:150px;}


/***** 템플릿 보기 *****/
.code_view {white-space: pre-wrap;}

/***** chart area *****/
.chartWrap {position:relative; min-height:200px;}

.dp-none {	display:none; }

/* div > custom toggle wrap */
.custom-toggle-wrap{display: flex; justify-content: center;}

/* 코드관리code-set */
.code-set{min-height:310px; max-height:508px; border-top:1px solid  #e9ecef;  border-bottom:1px solid  #e9ecef;}

.code-set-tree .code-set-table{height:100%; max-height:508px; }
.code-set .overflow-auto{max-height:508px;}
.code-set .col-3{border-right:1px solid  #e9ecef;}

/* prograss */
.progress-label span {padding:5px 20px; font-size:.8125rem; color:#0060e2; background:#e7e7ed;}

/***** datepicker *****/
.input_datebox {display:inline-block; position: relative;}
.input_datebox::after {content:"\f133"; position: absolute; right:0; top:50%; width: 30px; font-family:"Font Awesome 5 Free"; font-weight: 900; color: #495572; text-align: center; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.input_datebox:hover:after {color:#359bff;}
.input_datebox input {width:150px; padding-right:30px;}
.table_option .input_datebox .form-control {width:110px;  padding-right:25px;}
.ui-datepicker {display:none; position:fixed; left:50%; top:50%; width:400px; margin-left:-110px; padding:0; background:#fff; border:none !important; box-shadow: 0 0 20px rgba(0,0,0,.5); -webkit-transform:translateY(-50%); transform:translateY(-50%); z-index:1000;}
.ui-datepicker-header {position:relative; height:50px; padding:0; font-weight:bold; color:#fff; text-align:center; line-height:50px; background:#3593fc; border:none !important; border-radius:0;}
.ui-datepicker-header > * {display:inline-block; font-weight:bold;}
.ui-datepicker .ui-datepicker-header a {position:absolute; left:0; top:0; width:40px; height:100%; text-align:left; cursor: pointer;}
.ui-datepicker .ui-datepicker-header a .ui-icon {display:inline-block; width:0; text-align:left; text-indent: -999em; overflow: hidden; opacity:0;}
.ui-datepicker .ui-datepicker-header a:hover, .ui-datepicker .ui-datepicker-header .ui-state-hover {background-color:rgba(255,255,255,.1); border:none;}
.ui-datepicker .ui-datepicker-header a:before {content: "\f104"; position:absolute; left:0; top:0; width:100%; font-family:"Font Awesome 5 Free"; font-weight: bold; font-size:1rem; color:#fff; text-align:center;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {left:auto; right:0;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:before {content: "\f105";}
.ui-datepicker-close {position:absolute; right:0; top:0; width:55px; height:48px; text-indent:-999em; }
.ui-datepicker-calendar {width:100%;}
.ui-datepicker-calendar thead th {width:14.3%; padding:15px 2px 10px; font-size:.8125rem; text-align:center; background:#f3f6fb;}
.ui-datepicker-calendar thead th:first-child, .ui-datepicker-calendar thead th:last-child {width:14.25%;}
.ui-datepicker-calendar tbody tr:nth-child(even) {background:#f3f6fb;}
.ui-datepicker-calendar td {padding:10px 5px; font-size:.8757rem; text-align:center;}
.ui-datepicker .ui-datepicker-calendar .ui-state-default {display:block; width:30px; height:30px; margin:0 auto; padding:0; text-align:center; line-height:30px; background:none; border-radius:30px; -webkit-box-sizing: border-box; border:0 solid #3593fc; box-sizing: border-box;}
.ui-datepicker-calendar .ui-state-disabled {opacity:.2;}
.ui-datepicker-calendar .ui-datepicker-other-month {opacity:.4;}
.ui-datepicker .ui-datepicker-today a.ui-state-default {color:#fff; background:#3593fc;}
.ui-datepicker .ui-datepicker-current-day a.ui-state-default {color:#3593fc; font-weight:bold; line-height:28px; background:#d1effe; border:1px solid #3593fc;}
.ui-datepicker-current {display:none;}

.layer_back {position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.6; z-index:500;}


