
/* wrap = sidebar(250px) + mainpanel(100%-250px) */

/*sideNav*/
.wrapper { min-width:1280px;  max-width:none!important;  position: relative; top: 0;  height: 100vh;}
.sidebar {position: fixed;  top: 0; bottom: 0;  left: 0;  z-index: 2; width: 250px;  background: #fff; border:none; }
.sidebar .sidebar-wrapper{position: relative;  height: calc(100vh - 75px); overflow-y: auto ; overflow-x: hidden; width: 250px; z-index: 4;  padding-bottom: 30px;}
 
.sidebar .nav li {margin: 0 15px;}
.sidebar .nav-link {padding: .675rem 1.5rem;}
.sidebar .navbar-brand {padding: 1.5rem;}
.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand>img { max-width: 100%; max-height: 3rem;}

/*mainpanel*/
.main-panel {position: relative; float: right; width: calc(100% - 250px); }
 
  .dp-flex{display: flex ;}
  .form-group-mb{ margin-bottom: .8rem;}


 /*플러그인에 있는 select box, script단에서 초기화 후 display: none*/
 div.dataTables_wrapper div.dataTables_length label { display: none;}

 /*페이지네이션 중앙 정렬*/
div.dataTables_wrapper div.dataTables_info {position:absolute;}
div.dataTables_wrapper div.dataTables_paginate {float:none; text-align:center;}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {justify-content: center;}


/*테이블 패딩 줄인 css env_smtpocode.html,env_push_setting.html */
.table-xs th, .table-xs td {padding: .3rem;}
.table-xs :last-child{border-bottom:1px}
.table-xs tbody tr:last-child td {border-bottom:1px solid #e9ecef;  }
/*테이블 마지막 라인추가*/
.table-bt{border-bottom:1px solid #e9ecef;  }
.td-cursor td{cursor: pointer;}


/* 테이블 선 추가 적용 : env_push_setting.html*/
.table-border-pd{border-collapse: collapse;  }
.table-border-pd th, .table-border-pd td{ border:1px solid #e9ecef;  } 
.table-border-pd td{ padding: .5rem;}/*  border-right:1px solid #e9ecef; */

/*form-control과 맞추기 위한 css - template_view.html*/
.div-control-box{font-size: .875rem;  font-weight: 400;  line-height: 1.5;  width: 100%; height: calc(1.5em + 1.25rem + 3px);  padding: .625rem .75rem;
  transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);   color: #8898aa;   border: 1px solid #dee2e6; border-radius: .25rem;
  background-color: #fff; background-clip: padding-box;  box-shadow: 0 3px 2px rgba(233, 236, 239, .05);}
  

/*** input-file**/
.custom-file-input:lang(ko) ~ .custom-file-label::after{content: '파일 선택';}
.custom-file-input {display:none;}
.notice-text {padding-inline-start: 10px;}
.notice-text li{list-style:none;  }

/******  templet > *** ***/

/*** friendtalk-img **/
.friendtalk-view-img{width:240px; height:240px; margin-bottom: 1rem; border:1px solid #e8e8e8;}

/*** mms-view-img **/
.mms-view-img{width:220px; height:184px; margin-bottom: 1rem; border:1px solid #e8e8e8;}
.textarea-font-style{font-style: normal; text-align-last: right;}
.count-text, .quill-count-text{color:#5e72e4;}
/*** mms-view-img **/
.brandtalk-view-img{width:350px; height:160px; margin-bottom: 1rem; border:1px solid #e8e8e8;}
.friendtalk-view-img img, .mms-view-img img, .brandtalk-view-img img{background-size: contain; max-width: 100%; max-height: 100%;}


/***** common class *****/
.hide {position: absolute; left:-999em; top:-999em; opacity:0;}
.none {display:none !important;}
em {font-style: normal; color:var(--primary);}

/* icon */
.fa-file-excel {font-size:.9375rem;}
.btn-inner--icon i.far {top:0 !important;}

/***** button *****/
.card-footer.btn_area {text-align:center;}
.card-footer.btn_area .col {text-align:left;}
.card-footer.btn_area .col:last-child {text-align:right;}
.card-footer.btn_area .col:only-child {text-align:center;}
.card-footer.btn_area button {min-width:10em;}
.card-footer.btn_area .col-auto button {min-width:7em;}

.btn-secondary {background-color:#f9f9f9; border-color:#f9f9f9;}

.btn_mail_reject {min-width:30px; height:28px; text-indent:-9999em; background:url("../img/btn_mail_reject.png") no-repeat 55% center;}
.btn_mail_reject:hover {background-color:#ffd600;}
.btn_help {width:30px; min-width:30px !important; height:30px; padding:0 !important;}
.btn_help .far {font-size:1.25rem;}

/***** search *****/
.searchWrap > * {padding-left:15px;}
.searchWrap > *:first-child {padding:0;}
.searchbox {margin-bottom:0; text-align:right;}
.searchbox > *, .searchbox .form-control {display:inline-block; width:auto; font-size:.8125rem;}
.searchbox select:not(:first-child), .searchbox input:not(:first-child) {margin-left:5px;}
.search_input {position:relative; padding-right:48px;}
.search_input .form-control-label {display:inline-block; font-size:.8125rem;}
.search_input > * {display:inline-block; width:auto; vertical-align: middle;}
.search_input input {width:150px; margin:0 5px;}
.search_input input:last-of-type {width:160px; margin-right:0; border-radius:.25rem 0 0 .25rem;}
.search_input .btn_search {position:absolute; right:0; top:0; width:50px; height:100%; padding:2px; background-color:#fff; border-radius:0 .25rem .25rem 0;}
.search_input .btn_search .btn-inner--text {margin-left:2px;}

.table_option {-webkit-box-align:center; align-items:center; -webkit-justify-content:space-between; -moz-justify-content:space-between; -ms-justify-content:space-between; justify-content:space-between;}
.table_option .form-group {margin-bottom:0;}
.table_option .searchWrap {text-align:right;}
.table_option .searchWrap > * {display:inline-block; white-space: nowrap;}
.table_option .btn:not(:last-child) {margin-right:5px;}
.table_option .form-control {display:inline-block; width:auto;}
.table_option .periodWrap {display:inline-flex;}
.table_option .periodWrap .datepicker-inline {width:140px;}
.table_option .periodWrap .btn {min-width:30px;}
.table_option.st02 .btn_area {-webkit-order:2; order:2;}
.table_option.st02 .searchWrap {-webkit-order:1; order:1; margin-bottom:10px; margin-left:auto;}

/***** tab *****/
.nav-tabs.tab01 .nav-link {min-width:7em; padding:10px; text-align:center;}
.nav-tabs.tab01 .nav-link.active, .nav-tabs.tab01 .nav-item.show .nav-link {position:relative; font-weight:bold; color:#0764ff;}
.nav-tabs.tab01 .nav-link.active:before {content:""; position:absolute; left:10px; right:10px; bottom:0; height:2px; background:#0764ff; border-radius:2px;}


/***** table *****/
.card .table {border-collapse: collapse !important;}
.card .table td, .card .table th {padding-left:12px; padding-right:12px; text-align:center; vertical-align: middle; border:0 solid #e9ecef; border-width:1px 1px 0 0;}
.card .table tr > *:first-child {border-left:none;}
.card .table tr > *:last-child {border-right:none;}
.table thead th {font-size:.8125rem;}
.table thead tr:not(:first-child) > * {background:#fbfbfb;}
.table tfoot tr > * {border-top-color:rgba(90,90,130,.6) !important;}
.table th .custom-control {padding-left:16px;}
.table th .custom-control-label::before, .table th .custom-control-label:after {left:-16px;}
.table .text-left a {display: block; min-width:150px;}
.table-view {margin:0; border-width:1px 0;}
.table-view:only-child {margin:0 !important;}
.table.table-view th, .table.table-view td {padding:10px 15px; text-align: left; white-space: normal;}
.table.table-view th {height:40px; vertical-align: middle; background:#f6f9fc;}
.table-view tr > *:first-child {border-left: none;}
.table-view tr > *:last-child {border-right: none;}
.table-view .btn-outline-secondary, .table-view .btn-outline-danger {min-width:60px;}
.table-view .form-row .btn {height:calc(.45em + 1.25rem + 5px);}
.table-view .form-row .btn-outline-secondary {border-color:#dee2e6;}
.table.table-view td {text-align:left;}
.table th, .table td, .table td>a{max-width:170px; overflow: hidden; white-space: nowrap;  text-overflow: ellipsis;}
.table-responsive:first-child > table {margin-top:0 !important;}
.table .btn-icon:not(.btn-secondary) .far {font-size:1.25rem;}

/***** text *****/
.required {display:inline-block; width:4px; height:4px;  margin-right:5px; text-indent:-999em; font-size:.1em; vertical-align:middle; text-align:left; background:#5e72e4; border-radius:4px;}

.font-size-basic {font-size:1rem;}

.alert {padding:5px 15px; font-size:.75rem;}
.alert-warning {color:#fc7c5f; background:none; border:1px solid #fc7c5f;}
.alert-icon {margin-right:10px;}

/***** forms *****/
.form-group dl {font-size:.875rem;}
.form-group dt {font-weight:600; color:#525f7f;}
.form-group dd {display:-webkit-box; display:flex; min-height:46px; margin:0; -webkit-box-align:center; align-items:center;}
.form-group dd .custom-control-label {vertical-align: middle;}
.form-group button {min-width:46px; height:46px; padding:5px 10px;}
.form-group button.btn-sm {height:30px;}

.gridWrap .col-form-label {text-align:right; background:#f7fafc;}
.gridWrap .row > .col-form-label:first-child {padding-left:0; border-left:15px solid #fff;}
.col-form-label + div .row > div + div {padding-left:0;}
.gridWrap .ql-toolbar + .ql-container {height:250px;}

@media screen and (max-width:1499px) {
    .form-group dt, .gridWrap .col-form-label {padding-right:10px; letter-spacing:-.05em;}
}

.form_subcheckbox {position:relative; margin:0 20px 0 0;}
.form_subcheckbox::before {content:"("; position:absolute; left:-.6em; top:0;}
.form_subcheckbox::after {content:")"; position:absolute; right:-.5em; top:0;}

.input-has-unit {position: relative;}
.input-has-unit input {padding-right:2em;}
.input-has-unit .unit {position:absolute; right:10px; top:50%; font-size:.875rem; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.row > .input-has-unit .unit {right:25px;}

.custom-control.custom-switch {padding-left:2.25rem;}
.custom-switch .custom-control-label::before {left:-2.25rem;}
.custom-switch .custom-control-label::after {left:calc(-2.25rem + 2px);}
.custom-switch .custom-control-input:checked~.custom-control-label::after {-webkit-transform: translateX(.75rem); transform: translateX(.75rem);}

/* period */
.periodWrap {display:flex;}
.periodWrap .txt {width:2em; text-align:center;}
.periodWrap .date input {border-radius:.25rem 0 0 .25rem;}
.periodWrap .date .btn {height:100%;}

/***** custom contents *****/
.txt_channel {display:inline-block; width:20px; height:20px; margin:0 5px; font-style:normal; font-weight: 500; font-size:.75rem; color:#fff; text-align:center; line-height:20px; vertical-align:middle; background:#1ac1e7; border-radius:2px;}
.txt_channel.s {background:#4491fc;}
.txt_channel.m {background:#fd831f;}
.txt_channel.a {background:#fcd72c;}
.txt_channel.b {background:#3c1e1e;}
.txt_channel.p {background:#dd3b41;}
.txt_channel.f {background:#9b11fc;}
.txt_channel.c {background:#fb6aa6;}

/* step */
.stepWrap {position:relative; display:inline-block; margin:0; padding:0; list-style: none; font-size:.8125rem; color:#fff;}
.stepWrap:before {content:""; position:absolute; left:8px; top:50%; right:8px; height:1px; background:#eee;}
.stepWrap > * {position:relative; display:inline-block; margin:0 5px;}
.stepWrap .box {padding:2px;  width:25px; height:25px; text-align:center; line-height:21px; background:#dfdfdf; border-radius:20px;}
.stepWrap .box .txt {position:absolute; left:-999em; top:-9999em; opacity:0;}
.stepWrap .current .box {width:auto; min-width:80px; padding:2px 10px; font-weight:bold; font-size:.875rem; background:#5e72e4}
.stepWrap .current .box .txt {position:static; margin-right:.5em; opacity:1;}


/* list depth */
.list_depth {position:relative; padding-left:40px;}
.list_depth.depth3 {padding-left:50px;}
.list_depth.depth4 {padding-left:60px;}
.list_depth.depth5 {padding-left:70px;}
.depth_type {position:absolute; left:10px; top:50%; width:22px; height:14px; margin-top:-7px; text-indent:-999em; background:url("../img/type_S.png") no-repeat left center;}
.depth_type.f {background-image:url("../img/type_F.png");}
.list_depth.depth3 .depth_type {left:20px;}
.list_depth.depth4 .depth_type {left:30px;}
.list_depth.depth5 .depth_type {left:40px;}

/* gird */
@media screen and (min-width: 1500px) {
    .col-xxl-auto {flex:0 0 auto; width:auto; max-width:100%;}
    .col-xxl-1 {flex:0 0 8.33333%; max-width:8.33333%;}
    .col-xxl-2 {flex:0 0 16.66667%; max-width:16.66667%;}
    .col-xxl-3 {flex:0 0 25%; max-width:25%;}
    .col-xxl-4 {flex:0 0 33.33333%; max-width:33.33333%;}
    .col-xxl-5 {flex:0 0 41.66667%; max-width:41.66667%;}
    .col-xxl-6 {flex:0 0 50%; max-width:50%;}
    .col-xxl-7 {flex:0 0 58.33333%; max-width:58.33333%;}
    .col-xxl-8 {flex:0 0 66.66667%; max-width:66.66667%;}
    .col-xxl-9 {flex:0 0 75%; max-width:75%;}
    .col-xxl-10 {flex:0 0 83.33333%; max-width:83.33333%;}
    .col-xxl-11 {flex:0 0 91.66667%; max-width:91.66667%;}
    .col-xxl-12 {flex:0 0 100%; max-width:100%;}
}


/* phone message */
.col-phone {width:280px; min-width:280px; max-width:280px;}
.phone_preview {position:relative; width:236px; height:415px; margin:0 auto; background:url("../img/phone_bg.gif") no-repeat 0 0;}
.phone_preview .preview_box {position:absolute; left:7px; top: 67px; display:-webkit-box; display:flex; -webkit-flex-direction:column; flex-direction:column; width:222px; height:309px; font-size:.875rem; overflow:auto;}
.phone_preview .preview_box .tit {margin:0; padding:5px 15px; font-weight: bold;}
.phone_preview .preview_box .tit.form-group {padding:5px 15px; background:#f9f9f9; border-bottom:1px solid #ccc;}
.phone_preview .preview_box .preview-img img{background-size: contain; max-width:220px; max-height:149px; padding:.2rem;  box-sizing:border-box; }
.phone_preview .preview_box .text {-webkit-flex:1; flex:1;}
.phone_preview .preview_box .text > * {width:100%; height:100%; margin:0; border-radius: 0;}
.phone_preview .preview_box .text iframe {border:none;}
.phone_preview .letter_count {position:absolute; left:7px; top:376px; width:222px; height:32px; padding:0 15px; font-size:.8125rem; line-height:32px; background:#f6f6f6; overflow:auto;}
.msgsample_list ul {margin:0 0 20px; padding:0; list-style:none; overflow:hidden;}
.msgsample_list ul li {float:left; width:240px; height:200px; margin:10px 20px 10px 0; background:#f6f9fc; border:1px solid #ccc; box-sizing: border-box;}
.msgsample_list .text-area {width:100%; height:100%; padding:1em; font-size:.875rem; overflow:auto; white-space: pre-wrap;}
.msgsample_list.image_type li {width:200px; height:200px;}
.msgsample_list .image-area {display:-webkit-box; display:flex; -webkit-box-align: center; align-items:center; width:100%; height:100%;}

.msgsample_list img {max-width:100%;}

/* editor */
.editorWrap {min-height:200px;}

/* 첨부파일 갯수 현황 */
.attrfiles_status {background:#f6f9fc;}

/* 비교함 - 비교 */
.compare-row {margin-left:-10px; margin-right:-10px;}
.compare-row .col {padding-left:10px; padding-right:10px;}
.compare_wrapper {padding:10px; border:1px solid #eee;}
.compare_wrapper .titWrap {display:-webkit-box; display:flex; -webkit-box-align: center; align-items: center; min-height:4rem; margin:-10px -10px 10px; padding:10px; background:#f5f5f5; border-bottom:1px solid #eee;}
.compare_wrapper .titWrap h6 {width:100%; margin:0; text-align:center;}
.compare_wrapper .titWrap h6 > span {display:block;}

/***** modal *****/
.modal-backdrop.show {opacity:.7;}
.modal-backdrop.show ~ .modal-backdrop.show {opacity:.1;}
.modal-dialog {width:80%; max-width:1000px;}
.modal-header {background:#f0f0f0;}
.modal-body {padding:10px 1.5rem;}
.modal-dialog .table {border-collapse: collapse !important;}
.modal-dialog .table td, .modal-dialog .table th {padding-left:10px; padding-right:10px; text-align:center; vertical-align: middle; border:1px solid #e9ecef;}
.modal-footer button {min-width:150px;}

/***** 템플릿 보기 *****/
.code_view {white-space: pre-wrap;}

